h3.title {
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    padding-bottom: 3rem;

}

.how-it-works {
    background: rgb(36, 136, 234);
    color: rgb(247, 246, 225);
}

.button.is-dark, .button.is-dark:hover {
    background: #121238;
    color: #f7f6e1;
}

.button {
    cursor: pointer;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    font-size: 1rem;
}

.how-it-works h4.title {
    color: rgb(247, 246, 225);
    padding-top: 1.5rem;
    text-align: left;
    line-height: 1.6rem;
}

.how-it-works p {
    text-align: left;
    color: rgb(247, 246, 225);
}

.how-it-works em {
    font-size: 1em;
    color: rgb(247, 246, 225);
    text-align: left;
    line-height: 1rem;
    display: inline-block;
    padding-bottom: 4px;
    font-size: 16px;
    font-style: normal;
}



table, tr{
    margin: 0 20px 0 20px;
    vertical-align: top;
}

table, td {
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (min-width: 769px) {
    table, p {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}
