/* panel layout mechanics */
.panel-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30em;
    transform: translateX(100%);
    transition: .3s ease-out;
    z-index: 100;
  }
  .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: #333;*/
    background:#2488ea;
    color: #eee;
    overflow: auto;
    padding: 1em;
  }
  
  /* simulate panel state control --
  this can also be triggered by a 
  class name added to the body tag. 
  Just using a checkbox sibling here
  for simplicity*/
  
  [type="checkbox"]:checked ~ .panel-wrap {
    transform: translateX(0%);
  }



  /* demo display */
  *,*:before, *:after {box-sizing: border-box;}
  h3{
      text-align: center;
      font-weight: 400;
      font-size: 32;
      font-family: 'PT Serif Caption', serif;
    }
  p {
    text-align: center;
    line-height: 1.4;
    margin: 2em 0 0 0;
  }
  [type="checkbox"] {
    font-size: 1em;
  }

.has-text-centered {
    text-align: center!important;
}
   

.right-drawer .close {
    border-radius: 4px;
    border: 2px solid #a3cefe;
    background: transparent;
    color: #f7f6e1;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    left: .75rem;
    top: .75rem;
}
 
@media screen and (min-width: 769px) {
    .button {
        font-size: 1.25rem;
    }

    .right-drawer .close {
        left: 1.5rem;
        top: 1.5rem;
    }
      
}

.button {
    height: 2.5em;
    font-size: 1rem;
    font-family: Karla,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 8px;
    transition: all .2s ease;
}

.button img {
    max-height: 1em;
}

img {
    height: auto;
    max-width: 100%;
}